.flex-parent {
    display: flex;
    justify-content: space-evenly;
}

/* .flex-child {
    flex: 1;
} */

canvas {
    background-color: black;
}

#btn_container {
    max-width: min-content;
}

/* canvas, svg {
    padding: 1%;
} */